*{
    margin:0;
    padding:0;
}
body{
    background-color: black;
}
.login-container {
    margin: auto;
    width: 300px;
    padding: 20px;
    color: white;
    background-color: rgb(73, 71, 71) ;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-bottom: 2%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
header {
    background-color: black;
    margin-bottom:5px;
}

#headlain {
    color: white;
    font-size:75px;
    margin-left:45%;
    font-family: 'Fjalla One', sans-serif;
    margin-top:15%;
    margin-bottom:0%;
    margin-right: 0%;

}
#nave{
    padding: 25px;
    background-color: white;
}
#login {
    text-decoration: none;
    margin-left: 90%;
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid 
}
#Home{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid white;
}

#email {
    border: none;
     border-bottom:1px solid white ; 
     outline: none;
     overflow: visible;
     background: none;
     color:white;
     padding-right:100px;
    height: 20px;
}
#username {
    border: none;
     border-bottom:1px solid white ; 
     outline: none;
     overflow: visible;
     background: none;
     color:white;
     padding-right: 100px;
     height: 20px; 
}
footer {
    background-color: #333; /* Set background color */
    color: #fff; /* Set text color */
    padding: 20px; /* Adjust padding as needed */
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 300px;
}