*{
    margin:0;
    padding:0;
}
body{
    margin: 5%;
    padding: 2%;
    background-image: url('misty-landscape-with-fog-pine-forest-mountain-slopes-illustration-nature-scene_1150-37301.webp'); /* Replace 'your-image.jpg' with your actual image URL */
    background-size: cover;
    background-attachment: fixed;
  }

.login-container {
    margin: auto;
    width: 300px;
    padding: 20px;
    color: rgb(0, 0, 0);
    background-color:rgba(255, 255, 255, 0.466);
   
    border-radius: 10px;
    box-shadow: 3px 3px 3px #012011;
    padding-bottom: 3%;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}
#LOGIN {
    padding: 10px;
    background-color: #020202;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
    box-shadow: 3px 3px #0d424a;
}
#LOGIN:hover{
    color: black;
    box-shadow: none;
    
}
#LOGIN:active{
    color: white;
}
#LOGIN::after{
    overflow: hidden;
}
header{
    margin-bottom:5px;
}

#headlain {
    color: whitesmoke;
    font-size:75px;
    margin-left:45%;
    font-family: 'Fjalla One', sans-serif;
    margin-top:13%;
    margin-bottom:0%;
    margin-right: 0%;

}
#nave{
    padding: 25px;
}
#login {
    text-decoration: none;
    margin-left: 90%;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: white 2px;
    box-shadow: 3px 3px white;
}
#login:hover{
    color: #065454;
    font-weight: bold;
   box-shadow: 2px 2px black;
   background-color: white;
}
#login:active{
        color: black;
}
#Home{
    text-decoration: none;
    font-weight:bolder;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 3px 3px white;
}
#Home:hover{
   color:#065454 ;
   box-shadow: 2px 2px black;
   background-color:white;
}
#Home:active{
    color: black;
}

#email {
     border: none;
     border-bottom:1px solid black; 
     outline: none;
     overflow: visible;
     background: none;
     color:black;
     padding-right:100px;
     height: 20px;
     opacity: 1;
     font-size: medium;
}

#username {
     border: none;
     border-bottom:1px solid black ; 
     outline: none;
     overflow: visible;
     background: none;
     color:black;
     padding-right: 100px;
     height: 20px; 
     opacity: 1;
     font-size: medium;
}

#could-not-login{
       padding-top:5px;
       padding-bottom: 8px;
       color: rgb(34, 30, 80);
       font-size: large;
       
}
footer {
    background-color:rgb(255, 255, 255,0.5);
    background-attachment: fixed; 
    bottom: 0;
    width: 100%;
    margin-top:40% ;
    left: 0;
    box-shadow:2px 2px 2px #065454 inset;


}
#icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; 
}

.user-mail {
    display: inline-block;
    vertical-align: middle;
}

#EMAIL {
    display: inline-block;
    vertical-align: middle;
}
#icon-user {
    vertical-align: middle;
}

#USERNAME {
    display: inline-block; 
    vertical-align: middle;
    margin-left: 10px; 
}
#footer-first{
    width:100%;
    height: 100px;
    padding-bottom: 70px;
    border-radius: 5px;
}
#footer-second{
    width: 100%;
    height: 100px;
    padding-bottom: 70px;
  
}
#footer-part{
    display: flex;
}
#footer-third{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    text-align: center;
}
#unordered-list{
    padding-left: 485px;
    font-size: larger;
}
#MADE{
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 450px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.GIT{
    text-decoration: none;
    color: black;

}
.GIT:hover{
    color: greenyellow;
}
.GIT:active{
    color: black;
}
#GO{
    font-size: larger;
    margin:0;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#GO a iconify-icon {
    vertical-align: -7px; 
}
#HEADER-FOOTER{
    padding-left:20px;
    padding-bottom: 25px;
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#ACRONYM{
    padding-left:20px ;
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.post-card {
    width: 60%;
    margin: 20px auto;
    padding: 5px;
    border: 3px solid #080707;
    border-radius: 20px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(240, 255, 254);
}

/* Style the post header */
.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-header h2 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

/* Style the post footer */
.post-footer {
    margin-top: 10px;
}

.post-footer a {
    text-decoration: none;
    color: #81386b;
    display: flex;
    align-items: center;
}

.post-footer span {
    margin-right: 5px;
}

/* Responsive design */
@media (max-width: 768px) {
    .post-card {
        width: 80%;
    }
}

.create-post-container {
    margin-top: 20px;
}

#createPostBtn {
    background-color: transparent;
    color:white;
    padding: 10px 15px;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 4px 4px 5px #587d72;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 50%;
}
#createPostBtn:active{
    
    box-shadow: none;
    color: #065454;
    background-color: whitesmoke;
}
.create-post-form textarea {
    width: 100%;
}
#postbtn{
    background-color: transparent;
    color:white;
    padding: 10px 15px;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 4px 4px 5px #587d72;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 50%;
}
#postbtn:active{
    box-shadow: none;
    color:#065454 ;
    background-color: whitesmoke;
}
#logout{
    text-decoration: none;
    margin-left: 81%;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: white 2px;
    box-shadow: 3px 3px white;
    background-color: transparent;
}
#logout:hover{
    color: #065454;
    font-weight: bold;
   box-shadow: 2px 2px black;
   background-color: white;
}
#logout:active{
        color: black;
}
#session-username{
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: white 2px;
    box-shadow: 3px 3px white;
    background-color: transparent;
    margin-left: 30px;
}
#session-username:hover{
    color: #065454;
    font-weight: bold;
   box-shadow: 2px 2px black;
   background-color: white;
}
#session-username:active{
        color: black;
}
#textarea{
    margin-top: 30px;
    resize: none;
    border: none;
    border-radius: 10px;
    margin-left:130px ;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255,0.8);
    text-align:left;
    outline: none;
    text-indent: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#divide-1{
   height: 100%;
   width: 50%;
}
#divide-2{
   width: 50%;
   height:100;

}
#divide-display{
    display:flex;
    
}
#post-count{
    margin-left: 175px;
    font-size: 35px;
}
#followerbtn{
     padding:0px;
     width:100px;
     height: 50px;
}



