 {{template "login.html".}}

 {{define "content"}}
 <main>
     <h1>Login</h1>

            <form action="/login" method ="POST">
                <div>
                    <label for="email"> Email </label>
                    <input type ="email" name="email" id ="email" required>
                </div>
                <div>
                    <label for="username"> Username </label>
                    <input type ="text" name="username" id ="username" required>
                </div>

                <button>Login</button>
            </form>
</main>

{{end}}