{{ template "layout.tmpl" .}}
{{define "content"}}
    <main> <div id="divide-2"><div>
    <iconify-icon id="icon-user-1" icon="healthicons:ui-user-profile" style="color: white;" width="250" height="250">

    </iconify-icon>
      <div id="divide-1"> <div>  <h1 id="NAME-USER">{{.User.Username}}

        </h1> </div>
        <div> {{if and .Session.IsLoggedIn (ne .Session.User.ID .User.ID)}}
        <form action = "/user-follows" method="POST">
            <input type = "hidden" name = "user_id" value = "{{.User.ID}}">

                {{if .User.Following}}
                <input type="hidden" name="_method" value="DELETE">
                {{end}}

                {{if .UserFollowErr}}
                <p>Could not follow user : <code>{{.UserFollowErr}}</code></p>
                {{end}}
            <button id="followerbtn">{{if .User.Following}}Following{{else}}Follow{{end}}</button>
        </form>
        {{end}}</div>
    </div>
</div>

     <div id="divide-3"> <div id="following"><dl>
           <dt></dt>Following </dt>
            <dd class="userno">{{ .User.FollowingCount}}</dd>
        </dl></div>
        <div id="follower"><dl>
            <dt>Followers </dt>
            <dd class="userno">{{ .User.FollowersCount}}</dd>
        </dl></div></div></div>
        <h3 id="post-count">{{.User.PostsCount}} Posts</h3>
        {{if eq (len .Posts) 0}}
        <p id="nopostyet">No posts yet</p>
        {{else}}
       <section >
            {{range .Posts}}
            {{template "post-article.tmpl" .}}
            {{end}}
        </section>
        {{end}}
    </main>
{{end}}
