{{ template "layout.tmpl" .}}

{{define "content"}}
    <main> <div id="divide-display"><div id="divide-1">
        <h1 id="NAME-USER">{{.User.Username}}</h1>

        <dl>
            <dt>Following </dt>
            <dd>{{ .User.FollowingCount}}</dd>
        </dl>
        <dl>
            <dt>Followers </dt>
            <dd>{{ .User.FollowersCount}}</dd>
        </dl>

        {{if and .Session.IsLoggedIn (ne .Session.User.ID .User.ID)}}
        <form action = "/user-follows" method="POST">
            <input type = "hidden" name = "user_id" value = "{{.User.ID}}">

                {{if .User.Following}}
                <input type="hidden" name="_method" value="DELETE">
                {{end}}

                {{if .UserFollowErr}}
                <p>Could not follow user : <code>{{.UserFollowErr}}</code></p>
                {{end}}
            <button id="followerbtn">{{if .User.Following}}Following{{else}}Follow{{end}}</button>
        </form>
    </div>
        {{end}}
        <div id="divide-2">
        <h3 id="post-count">{{.User.PostsCount}} Posts</h3>
        {{if eq (len .Posts) 0}}
        <p>No posts yet</p>
        {{else}}
       <section >
            {{range .Posts}}
            {{template "post-article.tmpl" .}}
            {{end}}
        </section></div></div>
        {{end}}
    </main>
{{end}}
