<footer>
    <div id="footer-container">
       <div id="footer-part"> <div id="footer-first">
            <h1 id="HEADER-FOOTER">LAIN.</h1>
             <p id="ACRONYM">Loquacious Amigos Incessantly Nattering</p>

        </div>
        <div id="footer-second">
             <h2 id="MADE"> Made with frustration by</h2>
             <ul id="unordered-list">
                <li ><a class="GIT" href="https://github.com/nearlynithin" target="_blank">NITHIN</a><ion-icon name="logo-github" style="font-size: 25px;"></ion-icon></li>
                <li ><a class="GIT" href="https://github.com/SANTHSIM22" target="_blank">SANTHSIM</a><ion-icon name="logo-github" style="font-size: 25px;"></ion-icon></li>
                <li ><a class="GIT" href="https://github.com/SANTHSIM22" target="_blank">NISHCHAL</a><ion-icon name="logo-github" style="font-size: 25px;"></ion-icon></li>
             </ul>
        </div
        ></div>
        <div id="footer-third">
             <p id="GO">Powered by <a  target="_blank" href="https://go.dev/"><iconify-icon icon="fa6-brands:golang" style="font-size:30px;"></iconify-icon></iconify-icon></a></p>
        </div>
    </div>
  
</footer>