<header>
    <nav id="nave">
       <a id="Home" href="/">HOME</a>
        {{if .Session.IsLoggedIn}}
        <a href="/@{{.Session.User.Username}}" id="session-username" type="button">{{.Session.User.Username}}</a>
        <form action="/logout" method="POST" style="display: contents;">
            <button id="logout">LOGOUT</button>
        </form>
        {{else}}
        <a id="login" href="/login">LOGIN</a>
        {{end}}
    </nav>
</header>