<header>
    <link rel="stylesheet" href="styles.css">
    <h1 id="heading">Lain</h1>
    <nav id="nave">
        <a id="Home" href="/">HOME</a>
        {{if .Session.IsLoggedIn}}
        <a href="#!">{{.Session.User.Username}}</a>
        <form action="/logout" method="POST" style="display: contents;">
            <button id="logout">LOGOUT</button>
        </form>
        {{else}}
        <a id="login" href="/login">LOGIN</a>
        {{end}}
    </nav>
</header>

<hr>